# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual environments
venv/
.venv/
env/

# Cache folder storing scraped data
cache/*.json
!cache/.gitkeep

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
